<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Snaps Iframe Execution Environment</title>
    <script src="lockdown.umd.min.js"></script>
    <% if (htmlWebpackPlugin.files.favicon) { %>
      <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon%>">
    <% } %>
    <% if (htmlWebpackPlugin.options.devServer) { %>
      <script src="<%= htmlWebpackPlugin.options.devServer%>/webpack-dev-server.js"></script>
    <% } %>
  </head>
  <body>
    <% if (htmlWebpackPlugin.options.appMountIds && htmlWebpackPlugin.options.appMountIds.length > 0) { %>
      <% for (var index in htmlWebpackPlugin.options.appMountIds) { %>
      <div id="<%= htmlWebpackPlugin.options.appMountIds[index]%>"></div>
      <% } %>
    <% } %>
  </body>
</html>
